// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #05010d;
$body-color: #fff6e6;
$primary: #b3ac98;
$font-family-base: Arial;

<<<<<<< HEAD
=======
hr {
  background: #f2efe6;
}

>>>>>>> master
.dropdown-item {
  color: #05010d;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #140626;
  text-decoration: none;
  background-color: #e3decf;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #b3ac98;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #140626;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-item {
  color: #140626;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 40px;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: transparent;
  border-radius: 0.3rem;
}

.display-4 {
<<<<<<< HEAD
  margin-top: 150px;
  margin-bottom: 150px;
=======
  margin-top: 60px;
  margin-bottom: 100px;
>>>>>>> master
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.bildgrösse {
  margin-left: auto;
  margin-right: auto;
  border: ivory solid 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 700px;
}

.col-sm {
  align: right;
<<<<<<< HEAD
  margin-top: 20px;
  margin-bottom: 40px;
=======
>>>>>>> master
}

.navbar {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.space {
<<<<<<< HEAD
  height: 600px;
=======
  height: 700px;
>>>>>>> master
}

#kontakt {
  text-align: center;
  margin-top: 50px;
  padding: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.container {
  padding-top: 40px;
}

.gerede {
  margin: 50px auto 50px auto;
  width: 35%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.navbar-nav {
  margin-left: 50px;
}

.nav-item {
  margin-right: 50px;
  margin-left: 50px;
}

.lead {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.hinterweiss {
  background: #f2efe6;
  color: #05010d;
}

.carousel {
  margin-top: 200px;
  margin-bottom: 200px;
}

.nav-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: red;
}
<<<<<<< HEAD

hr {
  background: #f2efe6;
}

.navbar-brand {
  margin-right: 100px;
}
=======
>>>>>>> master
