// Your variable overrides
// See node_modules/bootstrap/scss/_variables.scss for all variables
$body-bg: #05010d;
$body-color: #f2efe6;
$primary: hotpink;
$font-family-base: Arial;

hr {
  background: red;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  $background-color: red;
  border-radius: 0.3rem;
}

// Include all Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Add you custom CSS

body {
  margin: 20px;
}

.dropdown-item {
  color: #05010d;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #e3decf;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #b3ac98;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #140626;
  pointer-events: none;
  background-color: transparent;
}
